# ==============================================================================
# 🚀 VELOCITY BACKEND - VARIABLES DE ENTORNO
# ==============================================================================

PORT=3000
NODE_ENV=production
DATA_DIR=./data

JWT_SECRET=tu_clave_secreta_jwt_para_firmar_tokens

WISPRO_API_URL=https://www.cloud.wispro.co/api/v1
WISPRO_API_TOKEN=tu_wispro_token_aqui

# VAPID Web Push Keys
VAPID_PUBLIC_KEY=BBH906nqp8-eqavWd95D9OJABc6VGbTkw2Ssm7FqNV00_oq2EMCLgijvbK7uiV8ystP0C78Q61cF3zn_1G2T9cE
VAPID_PRIVATE_KEY=K_JfhcRAEP4IlIuDsKEJDrHueePyCJLDUGfAojRoU1A
VAPID_SUBJECT=mailto:soporte@atg-rappido.com

GDRIVE_WEBAPP_URL=
RESEND_API_KEY=
REPORT_EMAIL_TO=
